*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(#f05053, #e1eec3);
}

header{
    text-align: center;
    height: 200px;
    z-index: 200;
}

/*----menu----*/
.nav1{
    
    text-align: center;
    margin-top: 40px
    padding 5px;

}

.logo{
    width: 90px;
    padding: 5px;
    border-radius: 80px;
    align-items:center;
    
}
.menu{
    list-style-type: none;
    background-color: rgb(245, 168, 206);
    display: flex;
    align-items: center;
    padding: 0px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}
.menu li{
    display: inline-block;
    text-align: center;
    margin: 10px;
    padding: 10px;
}
.menu a{
    color:lightgoldenrodyellow;
    text-decoration: none;
    padding: 10px;
    
}
.menu a:hover{
    background-color: darksalmon;
    color: black;
    border-radius: 20px;
}

.menu .item {
    display: inline-block;
    position: relative;
    text-align: center;    
}

h1,h5{
    font-family: 'EB Garamond', cursive;
    text-align: center;
    padding: 20px;
}

h3,h4{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    padding: 20px;
}

.main{
    grid-area: main;
}

.main p{
    padding: 20px;
    color: black;
    line-height: 1.6;
    font-family: 'Dancing Script', cursive;
}

.main img{
    width: 90px;
    border-radius: 15px;
}

img{
    width: 90px;
    margin-top: 20px;
    border-radius: 45px;
    justify-content:center;
}

.video{
    text-align: center;
}

.section1 h2{
    font-family: 'EB Garamond', cursive;
    text-align: center;
    padding: 20px;
}

.section3 h2{
    text-align: center;
    font-family: 'Dancing Script', cursive;
}


.footer{
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    grid-area: footer;
    text-align: center;
}

.redes img{
    width: 50px;
    margin-top: 20px;
    border-radius: 45px;
    justify-content:center;
}

.section2-1{

    text-align: center;
    margin: auto;
    width: 90%;
    background-color: #ffffff;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    padding: 2px;

}
.nuestrogimnasio {
    width: 90vw;
    text-align: center;
    margin: auto;
}
.nuestrogimnasio h2{
    background-color: #fd9f24;
    color: #000000;
    width: 80%;
    margin: auto;
    border-radius: 10px;
}


.section4 iframe {
    width: 25vw;
    height:600px;;


}

/*-------------------CARROUSEL------------
#carouselExampleInterval{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
}

.carousel-inner {
    width: 70vw;
    border-radius: 20px 
}-- */

    /*--------------------MEDIAQUERIES--------*/

@media (max-width:768px){

    .section1 {
        display: none;
    }
    .nav1{
        display: none;
    }
    .section2 {
        flex-direction: column;
        margin:auto;
        width: 100vw;
        margin-top: -80px;
    }
    .section3{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
        margin: auto;
    }

    .section3 iframe{
        width: 80vw;
        height: 300px;
        margin: 50px auto 50px auto;
    }

    .informacion {
        display: none;
    }
    .containernavresp {
        display: flex;
        width: 100vw;
    }


    .subitem-responsive {
        display: none;
    }

    .sectionproductos h2 {
        margin-top: 130px;
    }
}